    
.titulo{
    background-color: #222222;
    text-align: center;    
    font-family:cursive;
    color: red;
    font-size: 3EM;   
}
table {
    margin: auto;
}
fieldset{
    margin: 3em     auto;
    height: auto;
    width: 750px;
    background: #fff;
        box-shadow: inset 0px 0px 30px #331309;
    
}
body{
    margin-top: 20px;
    padding: 10px;
    margin: 5px;
    height: 5px;
    background-color: #171717;
}

.etiqueta{
    color: #222;
    font-family: fantasy;
    font-size: 19px;
    margin:1px;
    }
.error{
    color: #0a2;
    font-family: fantasy;
    font-size: 19px;
    margin:1px;
    }
.error2{
    color: #238782;
    font-family: fantasy;
    font-size: 19px;
    margin:1px;
    }
div {
margin: 7px;
margin-left: 15px;  
}
fieldset div#uno{
    
    margin-top: 20px;
    
}
div label {
    width: 17%;
    float: left;
}

input#btn{
    width: 85px;
    margin: 0px 0px 30px 30px;
    height: 35px;
    border:1px solid #232323;
    color:#2f2f2f;
    box-shadow: 0px 2px 0px #000;
    -moz-box-shadow: 0px 2px 0px #000;
    -webkit-box-shadow: 0px 2px 0px #000;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-left: 20px; 
    margin-bottom: 20px;
}
input:hover{
        background: #c8bff2;
}
input:active{
        background: #808080;
}

    
