/* Archivo para darle aspecto a Capas.html*/

/* primera regla
Selector {declaracion}
        {propiedad : valor}
*/
iframe{
    width: 630px;
    
}
body {color: #11f72e;
      font-size: 15px;
      /*background-color: #13ec6a;*/
      background: #2110ef /*url("../imagenes/me.png") repeat 0 0*/;
      }
      
#contenedor {
    margin: 30px 100px;  
    width: 780px;
    height: auto;
    border: 2px double #000;
    background-color: #ff0080;
    }

#encabezado {
    margin: 2px 2px 2px 8px;  
    width: 766px;
    height: 80px;
    border: 1px solid #0f1;
    background-color: #ff0080;
    background: url("../imagenes/bandera.jpg") no-repeat left bottom;
}

    #menu {
    margin: 2px 2px 2px 8px;  
    width: 130px;
    height: 200px;
    float: left;
    border: 1px solid #0f1;
    background-color: #ff0080
    }
    
    #lateral {
    margin: 2px 2px 2px 2px;  
    width: 629px;
    height: 200px;
    float: left;
    border: 1px solid #0f1;
    background-color: #ff0080
    }
#pie {
    clear: both;
    margin: 2px 2px 2px 8px;  
    width: 766px;
    height: 50px;
    border: 2px solid #0f1;
    
}

.titulo {
    font-size: 2em;
    margin: 200px;
    color: blue;
}

.lateral {
    font-size: 10px;
    color: white;
}

.pie {
    font-size: 150%  ;
    color: #8ba20f;
}
.copy{
    font-size: .3cm;    
}


ul.menu li a{
    font-size: 1.5em;
    color:blue;
    padding: 4px 0px 0 5px;
}