form.login input {
    padding: .2cm;
}
label {
display: inline;
margin: .1em 0 0 0;
color: #000;
}

.btn {
display: block;
margin: 1em 0;
}
div{
    margin: .4cm;
}
body{
    margin:0 auto;
}
div.login{
    margin: 0 auto;
}
div label{
    width: 10%;
    float: left;
}
/*fieldset {*/
    /*background-color: #7c22ce;
    width: 200px 50px;
    height: 200px;
    }*/
    
.error {
    color: red;
}

.etiqueta {
    color: #000;
}