*{
    padding: 0px;
    margin: 0px;
    
}

body{
    background:url(..//imagenes/fondo5.jpg) #222222;
    background-position: center;
    
}

/*codigo para darle estilo ala tabla menu inicio*/

#menu ul{
    width: 200px auto;
    height: 300px auto;
    background:#222;
    display: block;
    margin: 33px auto;
    padding: 0px;
    width: 285px;
    box-shadow: inset 0px 0px 30px #2e3152;
    
}

/*estilo de cuadro a salir*/
#menu li{
    list-style: none;
    display: block;
    width: 80%;
    height: auto;
    border-bottom:  2px solid #fff;
    color: #fffafa;
    font-family: fantasy;
    font-size: 25px;
    padding: 10%;
    text-align: ccenter;
    -moz-border-radius:5px;/*este funciona para darle curvatura al recuadro  cuando :hover arranca*/ 
    -webkit-border-radius:5px;
    
}
#menu li:hover{
    background: #fe9c43;
    text-align: right;
    margin: 10px;
    
}
#menu li{
    
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -ms-accelerator: all .9s ease;
    transition: all .9s ease;
    
}







/*poner menu con menu desplegable a prueba no utilizaddo en este caso

#navegador > li{
    float: left;
}

#header{
    margin: auto;
    width: 900px;
    font-family: fantasy;
}

#navegador  ul, ol, li{
    list-style: none;
}

 /*darle formato a menu principal horizontal*/ 
#navegador li a{
        background: #000;
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
}

/*cambiar el color al posicionar el mouse en el menu*/
#navegador li a:hover{
    background: red;
}


#navegador > li{
    float: left;
}

/*desaparece el menu desplegable, dejando solo el menu principal*/
#navegador li ul {
    display: none;
    position: absolute;
    max-width: 140px;
    background-size: 10px;
}
/*al posicionar el mouse en el menu, muestra el menu desplegable imediatamente*/
#navegador  li:hover > ul{
    display: block;
}


*/